body {
            font-family: 'Arial', sans-serif;
            background-color: #fff0f5;
            text-align: center;
            padding: 50px;
        }
        .container {
            background-color: white;
            padding: 30px;
            border-radius: 20px;
            box-shadow: 0 4px 15px rgba(0,0,0,0.1);
            max-width: 400px;
            margin: 0 auto;
        }

        .container2 {
            background-color: white;
            padding: 30px;
            border-radius: 20px;
            box-shadow: 0 4px 15px rgba(0,0,0,0.1);
            max-width: 400px;
            margin: 0 auto;
        }
#noBtn {
            background-color: #444;
            color: #bbb;
            max-width: 200px;
            border-radius: 10px;
            left: calc(50% + 20px);
        }
        h1 { color: #ff69b4; }
        select, input, button {
            width: 100%;
            padding: 12px;
            margin: 10px 0;
            border-radius: 8px;
            border: 1px solid #ddd;
            box-sizing: border-box;
            font-size: 16px;
        }
        button {
            background-color: #ff69b4;
            color: white;
            border: none;
            cursor: pointer;
            font-weight: bold;
            transition: 0.3s;
        }
        button:hover { background-color: #ff1493; }